<div>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-8">
        <button
          type="button"
          [routerLink]="['../register']"
          class="my-1 mt-5 btn btn-light btn-lg">
          <i class="fa fa-envelope"></i> Registrate utilizando correo
          electronico
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <hr />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <button
          type="button"
          class="my-1 mt-2 btn btn-secondary btn-lg"
          disabled>
          Iniciar sesion
        </button>
      </div>
    </div>
  </div>
</div>
