.card {
    background-color: rgba(3, 3, 3, 0.4);
  }
  .card-header {
    background-color: rgba(3, 3, 3, 0.8);
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(250, 247, 247);
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }