html, body {
  margin:0;
  height:79%;
  overflow:hidden;
}

div[ng-view] {
  height: 100%;
}

.bg-container {
  background-image: url('/assets/training.jpg');
  background-size: cover;
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
}

