body,
html {
  height: 100%;
}

div[ng-view] {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('/assets/training.jpg');
  /* Full height */
  height: 80vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
